## Gradient and cost using sklearn

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import math

In [2]:
df = pd.read_csv("test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [3]:
r = LinearRegression()
r.fit(df[['math']],df.cs)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [4]:
cost = r.coef_
print("cost ", cost)

cost  [1.01773624]

In [5]:
intercept = r.intercept_
print("intercept", intercept )

intercept 1.9152193111569176